
{% raw %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/1.0.13/webcomponents-lite.js"></script>

<link rel="import" href="https://cdn.rawgit.com/Optinomic/polymer-cdn/optinomic-0.1.36/lib/polymer/polymer.html">
<link rel="import"
    href="https://cdn.rawgit.com/Optinomic/polymer-cdn/optinomic-0.1.36/lib/iron-flex-layout/iron-flex-layout.html">
<link rel="import"
    href="https://cdn.rawgit.com/Optinomic/polymer-cdn/optinomic-0.1.36/lib/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import"
    href="https://cdn.rawgit.com/Optinomic/polymer-cdn/optinomic-0.1.36/lib/iron-resizable-behavior/iron-resizable-behavior.html">
<link rel="import" href="https://cdn.rawgit.com/Optinomic/polymer-cdn/optinomic-0.1.36/lib/iron-pages/iron-pages.html">
<link rel="import"
    href="https://cdn.rawgit.com/Optinomic/polymer-cdn/optinomic-0.1.36/lib/paper-icon-button/paper-icon-button.html">
<link rel="import"
    href="https://cdn.rawgit.com/Optinomic/polymer-cdn/optinomic-0.1.36/lib/paper-checkbox/paper-checkbox.html">
<link rel="import" href="https://cdn.rawgit.com/Optinomic/polymer-cdn/optinomic-0.1.36/lib/paper-tabs/paper-tabs.html">
<link rel="import"
    href="https://cdn.rawgit.com/Optinomic/polymer-cdn/optinomic-0.1.36/lib/paper-tooltip/paper-tooltip.html">
<link rel="import" href="https://cdn.rawgit.com/Optinomic/polymer-cdn/optinomic-0.1.36/lib/g-r-i-d/g-r-i-d.html">
<link rel="import"
    href="https://cdn.rawgit.com/Optinomic/polymer-cdn/optinomic-0.1.36/lib/optinomic-clinic-sample-selector/optinomic-clinic-sample-selector.html">

<div>
    <dom-module id="optinomic-chart-profile">
        <template>
        <style include="iron-flex iron-flex-alignment">
            :host {
                display: block;
                --grafic-width: 480px;
                --grafic-height: 50px;
                --grafic-margin-left: 0;
                --grafic-margin-right: 0;
                --grafic-top-space: 0;
                --grafic-text-visibility: hidden;
                --item-height: 50px;
            }

            div.relative {
                position: relative;
                width: 100%;
                height: var(--grafic-height);
            }

            div.absolute_left {
                position: absolute;
                top: var(--grafic-top-space);
                left: 0;
                width: var(--grafic-margin-left);
                height: var(--grafic-height);
                text-align: right;
            }

            div.legend_left {
                width: var(--grafic-margin-left) !important;
                min-width: var(--grafic-margin-left) !important;
                text-align: right;
                margin-bottom: 8px !important;
            }

            div.legend_right {
                width: var(--grafic-margin-right) !important;
                min-width: var(--grafic-margin-right) !important;
            }

            div.legend_info {
                width: 22px;
            }

            div.absolute_left_mobile {
                position: absolute;
                top: var(--grafic-top-space);
                left: 6px;
                width: var(--grafic-width);
                height: var(--grafic-height);
            }

            div.absolute_right {
                position: absolute;
                top: var(--grafic-top-space);
                right: 0;
                width: var(--grafic-margin-right);
                height: var(--grafic-height);
                visibility: var(--grafic-text-visibility);
                text-align: left;
            }

            div.absolute_center {
                position: absolute;
                top: 0;
                left: var(--grafic-margin-left);
                width: var(--grafic-size);
                height: var(--grafic-height);
            }

            div.center {
                margin-left: var(--grafic-margin-left);
                margin-right: var(--grafic-margin-right);
                width: var(--grafic-size);
            }

            div.vertical_grid_every_x {
                position: absolute;
                top: 0;
                height: 20px;
                margin-left: -3px;
            }

            div.description_item {
                padding-left: 6px;
                padding-right: 6px;
                height: var(--item-height);
                overflow: hidden;
            }

            .legend_left_text {
                padding-left: 6px;
                padding-right: 7px;
                text-align: right;
                color: #9E9E9E !important;
                font-size: 11.5px;
                font-weight: 400;
                letter-spacing: 0.005em;
            }

            .description_item_title {
                font-size: 11.5px;
                font-weight: 400;
                letter-spacing: 0.005em;
                color: #212121;
            }

            .description_item_text {
                font-size: 11.5px;
                font-weight: 400;
                letter-spacing: 0.005em;
                color: #616161;
            }

            .caption {
                font-size: 10.6px;
                letter-spacing: 0.020em;
                line-height: 70% !important;
                color: #757575;
            }

            .grid-border-top {
                border-top-color: #E0E0E0;
                border-top-style: solid;
                border-top-width: 1px;
            }

            .fade_in {
                -webkit-animation: fadein 1s;
                /* Safari, Chrome and Opera > 12.1 */
                -moz-animation: fadein 1s;
                /* Firefox < 16 */
                -ms-animation: fadein 1s;
                /* Internet Explorer */
                -o-animation: fadein 1s;
                /* Opera < 12.1 */
                animation: fadein 1s;
            }

            .config_page {
                padding-top: 12px;
                padding-bottom: 24px;
                min-height: 140px;
                border-top-color: var(--paper-grey-100);
                border-top-style: solid;
                border-top-width: 1px;
                margin-top: -1px;
            }

            .item {
                display: block;
                padding: 8px 16px;
                margin-right: 24px;
                background-color: var(--paper-grey-50);
                min-height: 52px;
            }

            @keyframes fadein {
                from {
                    opacity: 0;
                }

                to {
                    opacity: 1;
                }
            }

            /* Firefox < 16 */

            @-moz-keyframes fadein {
                from {
                    opacity: 0;
                }

                to {
                    opacity: 1;
                }
            }

            /* Safari, Chrome and Opera > 12.1 */

            @-webkit-keyframes fadein {
                from {
                    opacity: 0;
                }

                to {
                    opacity: 1;
                }
            }

            /* Internet Explorer */

            @-ms-keyframes fadein {
                from {
                    opacity: 0;
                }

                to {
                    opacity: 1;
                }
            }

            /* Opera < 12.1 */

            @-o-keyframes fadein {
                from {
                    opacity: 0;
                }

                to {
                    opacity: 1;
                }
            }

            paper-checkbox.styled {
                margin-right: 12px;
                align-self: center;
                color: red !important;
                --paper-checkbox-checked-color: var(--paper-grey-500);
                --paper-checkbox-checked-ink-color: var(--paper-grey-500);
                --paper-checkbox-unchecked-color: var(--paper-grey-900);
                --paper-checkbox-unchecked-ink-color: var(--paper-grey-900);
                --paper-checkbox-label-color: var(--paper-grey-900);
                --paper-checkbox-label-spacing: 0;
                --paper-checkbox-margin: 8px 16px 8px 0;
                --paper-checkbox-vertical-align: top;
            }

            paper-checkbox .subtitle {
                display: block;
                font-size: 0.8em;
                margin-top: 2px;
            }

            paper-tabs {
                font-family: 'Roboto', 'Noto', sans-serif;
                -webkit-font-smoothing: antialiased;
                width: 100%;
                margin-bottom: 1px;
                color: var(--paper-grey-700);
                --paper-tabs-selection-bar-color: var(--paper-grey-500);
            }

            paper-tab {
                --paper-tab-ink: var(--paper-indigo-500);
            }

            paper-tooltip.left {
                --paper-tooltip-opacity: 1;

                --paper-tooltip: {
                    width: var(--grafic-margin-left);
                    font-size: 14px;
                    margin-bottom: -12px !important;
                }
            }

            paper-tooltip.right {
                --paper-tooltip-opacity: 1;

                --paper-tooltip: {
                    width: var(--grafic-margin-right);
                    font-size: 14px;
                    margin-bottom: -12px !important;
                }
            }

            iron-swipeable-pages>* {
                -webkit-user-select: none;
                /* Chrome all / Safari all */
                -moz-user-select: none;
                /* Firefox all */
                -ms-user-select: none;
                /* IE 10+ */
                user-select: none;
                /* Likely future */
                cursor: default;
            }

            #grid_clinic_sample .item:last-of-type {
                max-width: none;
                width: calc(100% - 4px);
            }
        </style>
        <span style="height:6px;">&nbsp;</span>
        <!-- Stichprobe Norm -->
        <template is="dom-if" if="[[d.norm_sample_defined]]">
            <template is="dom-if" if="[[d.wide]]">
                <div class="layout horizontal flex">
                    <div class="legend_left">
                        <span class="legend_left_text">
                            [[t.norm_sample]]
                        </span>
                    </div>
                    <div class="flex">
                        <span class="description_item_title">
                            [[d.norm_sample]]
                        </span>
                    </div>
                </div>
            </template>
            <template is="dom-if" if="[[!d.wide]]">
                <p class="description_item_title">
                    <span style="color:#9E9E9E">[[t.norm_sample]]: </span>[[d.norm_sample]]
                </p>
            </template>
        </template>
        <!-- Stichprobe Klinik -->
        <template is="dom-if" if="[[cs.available]]">
            <template is="dom-if" if="[[d.wide]]">
                <div class="layout horizontal flex">
                    <div class="legend_left">
                        <span class="legend_left_text">
                            [[t.clinic_sample]]
                        </span>
                    </div>
                    <div class="flex">
                        <span class="description_item_title">
                            [[cs.name]]
                        </span>
                    </div>
                </div>
            </template>
            <template is="dom-if" if="[[!d.wide]]">
                <p class="description_item_title">
                    <span style="color:#9E9E9E">[[t.clinic_sample]]: </span>[[cs.name]]
                </p>
            </template>
        </template>
        <!-- Interpretation -->
        <template is="dom-if" if="[[d.show_ranges_overview]]">
            <template is="dom-if" if="[[ranges]]">
                <template is="dom-if" if="[[d.wide]]">
                    <div class="layout horizontal flex">
                        <div class="legend_left">
                            <span class="legend_left_text">[[t.ranges]]</span>
                        </div>
                        <div class="flex">
                            <span class="description_item_title">
                                <template is="dom-repeat" items="{{ranges}}" as="range">
                                    <span>{{range.text}} <span style="color:#9E9E9E">({{range.from_to}})</span>
                                        <template is="dom-if" if="{{!range.last}}">,&nbsp;</template>
                                    </span>
                                </template>
                            </span>
                        </div>
                    </div>
                </template>
                <template is="dom-if" if="[[!d.wide]]">
                    <p class="description_item_title">
                        <span style="color:#9E9E9E">[[t.ranges]]: </span>
                        <template is="dom-repeat" items="{{ranges}}" as="range">
                            <span>{{range.text}} <span style="color:#9E9E9E">({{range.from_to}})</span>
                                <template is="dom-if" if="{{!range.last}}">,&nbsp;</template>
                            </span>
                        </template>
                    </p>
                </template>
            </template>
        </template>
        <!-- START -->
        <template is="dom-if" if="[[start]]">
            <template is="dom-if" if="[[d.wide]]">
                <div class="layout horizontal flex">
                    <div class="legend_left">
                        <p class="legend_left_text" style$="text-align:right; color:[[start.left_color]] !important">
                            [[start.left_title]]
                        </p>
                    </div>
                    <div class="flex">
                        <p class="description_item_title">
                            [[start.left_text]]
                        </p>
                    </div>
                    <div class="flex">
                        <p class="description_item_title" style="text-align:right">
                            [[start.right_text]]
                        </p>
                    </div>
                    <div class="legend_right fade_in">
                        <p class="legend_left_text" style$="text-align:left; color:[[start.right_color]] !important">
                            [[start.right_title]]
                        </p>
                    </div>
                </div>
            </template>
            <template is="dom-if" if="[[!d.wide]]">
                <div class="center fade_in">
                    <div class="layout horizontal flex">
                        <div class="flex">
                            <p class="description_item_title">
                                <span style$="color:[[start.left_color]]">[[start.left_title]]</span>
                                <br>[[start.left_text]]
                            </p>
                        </div>
                        <div class="flex">
                            <p class="description_item_title" style="text-align:right">
                                <span style$="color:[[start.right_color]]">[[start.right_title]]</span>
                                <br>[[start.right_text]]
                            </p>
                        </div>
                    </div>
                </div>
            </template>
        </template>
        <!-- GRAFIK -->
        <div id="svg_grafic" class="relative fade_in">
            <!-- Zahlenbeschriftung -->
            <template is="dom-if" if="[[draw_chart]]">
                <div class="absolute_center fade_in">
                    <template is="dom-repeat" items="[[verticalGrid]]" as="g">
                        <template is="dom-if" if="[[d.topnumber_hide_first_last]]">
                            <template is="dom-if" if="[[!g.first_last]]">
                                <div class="vertical_grid_every_x" style$="left:[[g.x]]px">
                                    <p class="caption flex caption" style="color:black">[[g.value]]</p>
                                </div>
                            </template>
                        </template>
                        <template is="dom-if" if="[[!d.topnumber_hide_first_last]]">
                            <template is="dom-if" if="[[!g.last]]">
                                <div class="vertical_grid_every_x" style$="left:[[g.x]]px">
                                    <p class="caption flex caption" style="color:black">[[g.value]]</p>
                                </div>
                            </template>
                            <template is="dom-if" if="[[g.last]]">
                                <div class="vertical_grid_every_x" style$="left:[[g.x]]px; text-align:right;">
                                    <p class="caption flex caption" style="color:black;">[[g.value]]</p>
                                </div>
                            </template>
                        </template>
                    </template>
                </div>
            </template>
            <!-- Grafik -->
            <template is="dom-if" if="[[draw_chart]]" restamp="true">
                <div class="absolute_center">
                    <template is="dom-if" if="[[scales_set]]">
                        <svg-container id="svg_container" view-box$="0 0 100 [[d.grafic_height]]"
                            width="[[d.grafic_wight]]px" height$="[[d.grafic_height]]px">
                            <svg-component is="g" id="horizontalGrid">
                                <template is="dom-repeat" items="[[scales]]" as="scale">
                                    <svg-component is="line" x1="0" y1$="[[scale.bottomline]]" x2$="[[d.grafic_width]]"
                                        y2$="[[scale.bottomline]]" stroke$="[[d.color_grid]]" stroke-width="0.5">
                                    </svg-component>
                                    <template is="dom-if" if="[[scale.first]]">
                                        <svg-component is="line" x1="0" y1$="[[scale.topline]]" x2$="[[d.grafic_width]]"
                                            y2$="[[scale.topline]]" stroke$="[[d.color_grid]]" stroke-width="0.5">
                                        </svg-component>
                                    </template>
                                    <template is="dom-if" if="[[d.show_baseline]]">
                                        <svg-component is="line" x1="0" y1$="[[scale.baseline]]"
                                            x2$="[[d.grafic_width]]" y2$="[[scale.baseline]]"
                                            stroke$="[[d.color_grid_baseline]]" stroke-width="0.5"></svg-component>
                                    </template>
                                </template>
                            </svg-component>
                            <svg-component is="g" id="verticalGrid">
                                <template is="dom-repeat" items="[[verticalGrid]]" as="grid">
                                    <template is="dom-if" if="[[grid.zero]]">
                                        <svg-component is="line" x1$="[[grid.x]]" y1$="[[grid.y1]]" x2$="[[grid.x]]"
                                            y2$="[[grid.y2]]" stroke$="[[d.color_grid]]" stroke-width="3">
                                        </svg-component>
                                    </template>
                                    <template is="dom-if" if="[[!grid.zero]]">
                                        <svg-component is="line" x1$="[[grid.x]]" y1$="[[grid.y1]]" x2$="[[grid.x]]"
                                            y2$="[[grid.y2]]" stroke$="[[d.color_grid]]" stroke-width="0.5">
                                        </svg-component>
                                    </template>
                                </template>
                            </svg-component>
                        </svg-container>
                    </template>
                </div>
            </template>
            <!-- Skalenbeschriftung: Links/Rechts -->
            <template is="dom-if" if="[[d.wide]]">
                <template is="dom-if" if="[[d.item_text_left_show]]">
                    <div class="absolute_left">
                        <template is="dom-repeat" id="left_beschriftung" items="[[scales]]" as="s">
                            <div class="description_item fade_in horizontal layout">
                                <div class="flex self-center">
                                    <div class="layout horizontal flex">
                                        <div class="flex">
                                            <p id$="[[s.id_left_text]]" class="description_item_title right">
                                                [[s.left_title]]
                                                <template is="dom-if" if="[[d.show_scale_text]]">
                                                    <template is="dom-if" if="[[s.left_title]]">
                                                        <template is="dom-if" if="[[s.left_text]]">
                                                            <span class="description_item_title"
                                                                style="margin-left:-2px;">: &nbsp;</span>
                                                        </template>
                                                    </template>
                                                    <span class="description_item_text">[[s.left_text]]</span>
                                                </template>
                                                <template is="dom-if" if="[[!d.show_scale_text]]">
                                                    <paper-tooltip class="left" position="top">[[s.left_text]]
                                                    </paper-tooltip>
                                                </template>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </template>
                    </div>
                </template>
                <template is="dom-if" if="[[d.item_text_right_show]]">
                    <div class="absolute_right">
                        <template is="dom-repeat" id="right_beschriftung" items="[[scales]]" as="s">
                            <div class="description_item fade_in horizontal layout">
                                <div class="flex self-center">
                                    <div class="layout horizontal flex self-center">
                                        <div class="flex">
                                            <p id$="[[s.id_right_text]]" class="description_item_title">
                                                [[s.right_title]]
                                                <template is="dom-if" if="[[d.show_scale_text]]">
                                                    <template is="dom-if" if="[[s.right_title]]">
                                                        <template is="dom-if" if="[[s.right_text]]">
                                                            <span class="description_item_title"
                                                                style="margin-left:-2px;">: &nbsp;</span>
                                                        </template>
                                                    </template>
                                                    <span class="description_item_text">[[s.right_text]]</span>
                                                </template>
                                                <template is="dom-if" if="[[!d.show_scale_text]]">
                                                    <paper-tooltip class="right" position="top">[[s.right_text]]
                                                    </paper-tooltip>
                                                </template>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </template>
                    </div>
                </template>
            </template>
            <!-- Skalenbeschriftung: Links | Mobile -->
            <template is="dom-if" if="[[!d.wide]]">
                <div class="absolute_left_mobile">
                    <template is="dom-repeat" id="right_beschriftung" items="[[scales]]" as="s">
                        <div class="description_item fade_in horizontal layout">
                            <div class="flex self-center">
                                <div class="layout horizontal flex">
                                    <p class="description_item_title flex right">[[s.left_title]]</p>
                                </div>
                            </div>
                        </div>
                    </template>
                </div>
            </template>
            <!-- Ranges -->
            <template is="dom-if" if="[[draw_chart]]" restamp="true">
                <template is="dom-repeat" items="{{ranges}}" as="range">
                    <template is="dom-if" if="{{range.show}}">
                        <div class="absolute_center fade_in">
                            <svg-container id="svg_container_ranges" view-box$="0 0 100 [[d.grafic_height]]"
                                width="[[d.grafic_wight]]px" height$="[[d.grafic_height]]px">
                                <svg-component is="g" class="fade">
                                    <svg-component is="rect" x$="[[range.x]]" y$="[[range.y]]" fill$="[[range.rgb]]"
                                        width$="[[range.width]]" height$="[[range.height]]" stroke-width="none">
                                    </svg-component>
                                    <svg-component is="line" x1$="[[range.line_x_left]]" y1$="[[range.line_y1]]"
                                        x2$="[[range.line_x_left]]" y2$="[[range.line_y2]]"
                                        stroke$="[[range.line_color]]" stroke-width="1"></svg-component>
                                    <svg-component is="line" x1$="[[range.line_x_right]]" y1$="[[range.line_y1]]"
                                        x2$="[[range.line_x_right]]" y2$="[[range.line_y2]]"
                                        stroke$="[[range.line_color]]" stroke-width="1"></svg-component>
                                </svg-component>
                            </svg-container>
                        </div>
                    </template>
                </template>
            </template>
            <!-- Clinic Sample -->
            <template is="dom-if" if="[[draw_chart]]" restamp="true">
                <template is="dom-repeat" items="{{_clinic_sample_profiles}}" as="cs">
                    <template is="dom-if" if="{{cs.show}}">
                        <div class="absolute_center fade_in">
                            <svg-container id="svg_container_profiles" view-box$="0 0 100 [[d.grafic_height]]"
                                width="[[d.grafic_wight]]px" height$="[[d.grafic_height]]px">
                                <!-- SVG - Grafik -->
                                <svg-component is="g" id="csProfile" class="fade">
                                    <svg-component is="polygon" points$="[[cs.points_str]]" fill$="[[cs.color_profile]]"
                                        stroke-width="0"></svg-component>
                                    <svg-component is="polyline" points$="[[cs.points_str_min]]" fill="none"
                                        stroke$="[[cs.color_line]]" stroke-width="1"></svg-component>
                                    <svg-component is="polyline" points$="[[cs.points_str_max]]" fill="none"
                                        stroke$="[[cs.color_line]]" stroke-width="1"></svg-component>
                                    <svg-component is="polyline" points$="[[cs.points_str_mean]]" fill="none"
                                        stroke$="[[cs.color_line_mean]]" stroke-width="2"></svg-component>
                                </svg-component>
                            </svg-container>
                        </div>
                    </template>
                </template>
            </template>
            <!-- SVG - Profile -->
            <template is="dom-if" if="[[draw_chart]]" restamp="true">
                <template id="all_repeat" is="dom-repeat" items="{{_score_profiles}}" as="score">
                    <template is="dom-if" if="[[!score.dropout_is]]">
                        <template is="dom-if" if="{{score.show}}">
                            <div class="absolute_center fade_in">
                                <svg-container id="svg_container_profiles" view-box$="0 0 100 [[d.grafic_height]]"
                                    width="[[d.grafic_wight]]px" height$="[[d.grafic_height]]px">
                                    <svg-component is="g" id="scoreProfile" class="fade">
                                        <template is="dom-if" if="{{d.show_score_profile_line}}">
                                            <svg-component is="polyline" points$="[[score.points_str]]" fill="none"
                                                stroke$="[[score.color]]" stroke-width="5"></svg-component>
                                        </template>
                                        <template is="dom-if" if="{{d.show_score_vertical_line}}">
                                            <template is="dom-repeat" items="[[score.lines]]" as="line">
                                                <svg-component is="line" x1$="[[line.x]]" y1$="[[line.y1]]"
                                                    x2$="[[line.x]]" y2$="[[line.y2]]" stroke$="[[score.color_line]]"
                                                    stroke-width="5"></svg-component>
                                            </template>
                                        </template>
                                        <template is="dom-if" if="{{d.show_score_circles}}">
                                            <template is="dom-repeat" items="[[score.points]]" as="point">
                                                <svg-component is="circle" r="6" cx$="[[point.x]]" cy$="[[point.y]]"
                                                    fill$="[[point.fill]]" stroke$="[[point.stroke]]" stroke-width="2">
                                                </svg-component>
                                            </template>
                                        </template>
                                    </svg-component>
                                </svg-container>
                            </div>
                        </template>
                    </template>
                </template>
            </template>
        </div>
        <!-- TAB -->
        <div class="">
            <template is="dom-if" if="[[!d.show_settings_block]]" restamp="true">
                <!-- Overview -->
                <div class="layout horizontal flex" style="margin-top: 6px;">
                    <div class="legend_left" style="margin-top: 2px;">
                        <template is="dom-if" if="[[d.allow_toggle_settings_block]]" restamp="true">
                            <paper-icon-button icon="settings" on-tap="__toggleSettingsBlock" style="color:#E0E0E0">
                            </paper-icon-button>
                        </template>
                    </div>
                    <div class="flex">
                        <g-r-i-d min-column-width="150" gutter="4" row-height="" shown="{{animate_grid_0}}">
                            <template is="dom-if" if="[[draw_chart]]" restamp="true">
                                <template is="dom-repeat" items="{{_score_profiles}}" as="score">
                                    <div on-tap="__toggleScore" class="layout horizontal flex"
                                        style="padding:0; margin:0; cursor: crosshair;">
                                        <div class="legend_info">
                                            <template is="dom-if" if="[[score.show]]">
                                                <p
                                                    style$="font-size:64px; height:8px;  margin-top:-18px; padding:0; color:[[score.color]] ">
                                                    -
                                                </p>
                                            </template>
                                        </div>
                                        <div class="flex" style="padding:0; margin: 0">
                                            <p class="description_item_title">
                                                [[score.title]]
                                                <template is="dom-if" if="[[score.dropout_is]]">
                                                    | [[score.dropout_reason]]
                                                </template>
                                                <span style="color:#9E9E9E"><br>[[score.date]]</span>
                                                <template is="dom-if" if="[[score.dropout_is]]"> | <span
                                                        style="color:#F44336">Dropout</span></template>
                                                &nbsp;
                                            </p>
                                        </div>
                                    </div>
                                </template>
                            </template>
                        </g-r-i-d>
                    </div>
                </div>
            </template>
            <div hidden="[[!d.show_settings_block]]">
                <div class="layout horizontal flex">
                    <div hidden="[[!d.allow_toggle_settings_block]]">
                        <div class="fade_in">
                            <paper-icon-button icon="close" on-tap="__toggleSettingsBlock"
                                style="color:#E0E0E0;margin-top:8px;"></paper-icon-button>
                        </div>
                    </div>
                    <div class="flex">
                        <paper-tabs selected="{{d.tab_selected}}" on-iron-select="__tabChanged" autoselect
                            autoselect-delay="100" scrollable fit-container>
                            <paper-tab>{{t.measurements}}</paper-tab>
                            <paper-tab>{{t.clinic_sample}}</paper-tab>
                            <paper-tab>{{t.ranges}}</paper-tab>
                        </paper-tabs>
                    </div>
                </div>
                <iron-pages selected="{{d.tab_selected}}">
                    <div class="config_page">
                        <!-- Toggle Messungen -->
                        <template is="dom-if" if="[[d.show_settings_block]]" restamp="true">
                            <g-r-i-d min-column-width="250" gutter="4" row-height="" shown="{{animate_grid_0}}">
                                <template is="dom-repeat" items="{{_score_profiles}}" as="score">
                                    <template is="dom-if" if="[[score.dropout_is]]">
                                        <div class="item" style="border:1px solid #F44336; background-color:#FFEBEE;">
                                            <paper-checkbox checked="{{score.show}}" class="styled"
                                                disabled="[[score.dropout_is]]">
                                                <span>[[score.title]] | <span
                                                        style="color:#F44336">Dropout</span></span>
                                                <span class="subtitle">[[score.date]] | [[score.dropout_reason]]</span>
                                            </paper-checkbox>
                                        </div>
                                    </template>
                                    <template is="dom-if" if="[[!score.dropout_is]]">
                                        <div class="item"
                                            style$="border:1px solid {{score.color}}; background-color:{{score.color_rgb}};">
                                            <paper-checkbox checked="{{score.show}}" class="styled">
                                                <span>[[score.title]]</span>
                                                <span class="subtitle">[[score.date]]</span>
                                            </paper-checkbox>
                                        </div>
                                    </template>
                                </template>
                            </g-r-i-d>
                        </template>
                    </div>
                    <div class="config_page fade_in">
                        <!-- Clinic-Sample-Wrapper -->
                        <g-r-i-d id="grid_clinic_sample" colums="1" gutter="4" row-height="" shown="{{animate_grid_1}}">
                            <template is="dom-if" if="{{!clinic_samples.empty}}">
                                <template is="dom-repeat" items="{{_clinic_sample_profiles}}" as="cs">
                                    <div class="item"
                                        style$="border: 1px solid {{cs.color}}; background-color: {{cs.color_bg}}; width:100%;">
                                        <paper-checkbox checked="{{cs.show}}" class="styled">
                                            <span>{{cs.name}}</span>
                                        </paper-checkbox>
                                    </div>
                                </template>
                                <div class="item" style="border: 1px solid black; width:100%;">
                                    <optinomic-clinic-sample-selector on-clinic-sample-changed="__csChanged"
                                        data_dive="[[clinic_sample_dive]]" clinic_sample="[[clinic_samples]]"
                                        data_dive_path="statistics" return_data="{{clinic_sample_data}}">
                                    </optinomic-clinic-sample-selector>
                                </div>
                            </template>
                            <template is="dom-if" if="{{clinic_samples.empty}}">
                                <div class="item"
                                    style="border: 1px solid #263238; background-color: #ECEFF1; width:100%;">
                                    <span style="color: #263238;">Keine Klinichstichprobe vorhanden.</span>
                                    <br>
                                    <span class="subtitle">No clinic samples availabe.</span>
                                </div>
                            </template>
                        </g-r-i-d>
                    </div>
                    <div class="config_page fade_in">
                        <!-- Ranges -->
                        <template is="dom-if" if="[[d.show_settings_block]]" restamp="true">
                            <g-r-i-d min-column-width="360" gutter="4" row-height="" shown="{{animate_grid_2}}">
                                <template is="dom-if" if="{{d.ranges_available}}">
                                    <template is="dom-repeat" items="{{ranges}}" as="range">
                                        <div class="item"
                                            style$="border: 1px solid {{range.color}}; background-color: {{range.color_bg}};">
                                            <paper-checkbox checked="{{range.show}}" class="styled">
                                                <span>{{range.text}}</span>
                                                <span class="subtitle">{{range.from_to}}</span>
                                            </paper-checkbox>
                                        </div>
                                    </template>
                                </template>
                                <template is="dom-if" if="{{!d.ranges_available}}">
                                    <div class="item" style="border: 1px solid #263238; background-color: #ECEFF1;">
                                        <span style="color: #263238;">Keine Interpretation vorhanden.</span>
                                        <br>
                                        <span class="subtitle">No ranges availabe.</span>
                                    </div>
                                </template>
                            </g-r-i-d>
                        </template>
                    </div>
                </iron-pages>
            </div>
        </div>
        </template>
        <script>__opapp_include(../../dist/javascript/polymer/chart_profile.js)</script>
    </dom-module>
    <dom-module id="svg-container">
        <template>
            <svg id="svg" version="1.1" xmlns="http://www.w3.org/2000/svg" width="100%"
                preserveAspectRatio="xMinYMin meet"></svg>
            <content select="svg-component"></content>
        </template>
        <script> __opapp_include(../../dist/javascript/polymer/svg_container.js) </script>
    </dom-module>
    <dom-module id="svg-component">
        <template>
            <content select="svg-component"></content>
        </template>
        <script> __opapp_include(../../dist/javascript/polymer/svg_component.js) </script>
    </dom-module>
</div>
{% endraw %}