.p-color {
    color: #3F51B5;
}

.f-color {
    color: #424242;
}

.question_container {}

.question_container:hover {}

.question {
    margin: 0
}

.help {
    color: #424242;
}

.main_toolbar {
    position:fixed; 
    color: #9E9E9E;
    padding-right: 24px;
    background-color:#FAFAFA !important;
}

md-sidenav {
    position: fixed;
}


.sidenav_link_valid  {
    text-decoration: none;
    color: #424242;
}

.sidenav_link_valid:hover  {
    color: #3F51B5;
}

.sidenav_link_invalid  {
    color: #9E9E9E;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
   
  li {
    border-bottom: 1px solid #ccc;
  }
   
  li:last-child {
    border: none;
  }
   
  li a {
    text-decoration: none;
    color: #000;
    display: block;
    width: 200px;
   
    -webkit-transition: font-size 0.3s ease;
    -moz-transition: font-size 0.3s ease;
    -o-transition: font-size 0.3s ease;
    -ms-transition: font-size 0.3s ease;
    transition: font-size 0.3s ease;
  }
   
  li a:hover {
    font-size: 17px;
  }